* {
  box-sizing: border-box;
}

.productsContainer {
  background-color: white;
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: center;
  align-items: center;
  max-width: auto;
  max-height: auto;
  color: black;
}

.singleProduct {
  box-shadow: 5px 5px 5px grey;
  padding: 0 25px;
  padding-bottom: 25px;
  margin: 10px;

}

.subscriptionsContainer {
  justify-content: center;
  align-items: center;
  height: 3em;
  display: flex;
  margin: 5px;
  font-size: 20px ;
}

.userBoxInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
  font-size: 15px ;
}

.saveBtnBox {
  display:flex;
  justify-content: center;
  align-items: center;
  background-color: #006f62;
}

.saveBtn {
  border-radius: 10px;
  background-color: white;
  font-weight: bold;
}
button {
  font-size: 20px;
  margin: 10px;
}

label{
  margin: 10px;
}

#navbar {
  background-color: #006f62;
}

img {
  margin: auto;
  background-color: white;
}

h2 {
  color: #006f62;
  text-align: center;
}